# sinerfin-wallet - Variables de entorno
# Copiar a .env y completar valores reales
# .env NO se versiona en git

# App
SECRET_KEY=cambia-esto-en-produccion-usa-openssl-rand-hex-32
DEBUG=false

# Base de datos wallet (PostgreSQL)
DATABASE_URL=postgresql://sinerfin:TU_PASSWORD@192.168.1.192:5432/sinerfin_wallet

# Redis (DB 1 para no interferir con sinerfin2 que usa DB 0)
REDIS_HOST=192.168.1.190
REDIS_PORT=6379
REDIS_DB=1

# Kafka
KAFKA_BOOTSTRAP_SERVERS=192.168.1.190:9092

# sinerfin2 API
SINERFIN_BASE_URL=http://192.168.1.190:8080/sinerfin2-1.0
